.middle {
  width: 75%;
  margin-left: 140px;
  margin-right: auto;
}

.header {
  margin: 10px;
  padding: 10px;
  padding-bottom: 60px;
  border-color: gray;
  border-style:solid;
  border-width: 0;
  border-bottom-width: 1px;
}

.zuoyecishu {
margin-left:100px;
  float: left;

}

.zuoyeneirong {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  border-width: medium;
  padding:20px 10px 10px 20px;
}


.bianji button {
  background-color:#00bb99;


}
.bianji {
margin-left:16px;
margin-top:16px;
 margin-right:16px;
 float:left;

}

.heart {
  margin-left:16px;
  margin-top:25px;
  margin-right:16px;
  color:#00bb99;
  float:left;
}

.lishibanben {
 margin-left:16px;
 margin-top:16px;
 margin-right:16px;
 float:left;

}

.t1 {
  background-color:#F0F0F0;
  border-radius:15px;
  padding:20px 10px 10px 20px;
  margin-bottom:15px;
}

.lishibanben ul{

}

.lishibanben button {

  background-color:#00bb99;

}

.lishibanben li {
  border-radius:105px;
  background-color:#00bb99;
  color:#fff!important;
}

.lishibanben a{
  background-color:#00bb99;
  color:#fff!important;
}


.a{
float: right;
width:400px;
}

.number{
margin-right:10px;
}


